body {
  background-color: hsl(315, 30%, 12%);
  color: white;
  font-family: sans-serif;
}

svg line, svg polygon, svg ellipse {
  stroke: hsl(30, 45%, 65%);
  stroke-width: 2;
  fill: transparent;
  -webkit-animation: appear 0.7s;
          animation: appear 0.7s;
}

.yome-widget-body { position: relative; }
.control-holder   { position: absolute; }

.window-control-offset {
  position: relative;
  top: -7px;
  left: -25px;
}

.corner-control-offset {
  position: relative;
  top: -21px;
  left: -35px;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 12px;
  white-space: nowrap;
}

a.remove { color: rgb(239, 131, 75);}
a.hidden { visibility: hidden;}

@-keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1;}
}